body {
    font-family: Poppins;
    margin: 0;
}

.logo_Nav {
    color:#255919;
    font-size: 43px;
    font-style: bold;
    width: 230px;
    Height: 50px;
    margin-top: 25px;
    margin-left:  25px;
}

.image_accueil {
    background-image: url('rodion-kutsaev-049M_crau5k-unsplash.jpg');
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1,440px;
    height: 802px;
    background-position-y: top;
}